<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qianyan.dao.loginDao">
    <select id="login" parameterType="cn.qianyan.beans.User" resultType="cn.qianyan.beans.User">
        select * from user where uname=#{uname} and upassword=#{upassword};
    </select>
    <insert id="register" parameterType="cn.qianyan.beans.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid!=null">uid,</if>
            <if test="uname!=null">uname,</if>
            <if test="upassword!=null">upassword,</if>
            <if test="utelephone!=null">utelephone,</if>
            <if test="uright!=null">uright</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid!=null">#{uid},</if>
            <if test="uname!=null">#{uname},</if>
            <if test="upassword!=null">#{upassword},</if>
            <if test="utelephone!=null">#{utelephone},</if>
            <if test="uright!=null">#{uright}</if>
        </trim>
    </insert>
    <update id="updatePassword" parameterType="cn.qianyan.beans.User">
        update user set upassword = #{upassword} where uid = #{uid}
    </update>
</mapper>
